<div class="paper-entry">
    {% if paper.image %}
    <a href="{{ paper.paper_url }}" target="_blank"><img src="{{ paper.image | prepend: '/assets/img/' | relative_url }}" /></a>
    {% endif %}
    <ul class="paper-info">
        <li> <b style="font-size:20px"  >{{ paper.title }}</b></li>
        <li>
        {% assign num_authors = (paper.authors | size) | minus: 2 %}
        {% for idx in (0..num_authors)%}
        {% assign author = paper.authors[idx] %}
        {% assign clean = author | remove: "*" | remove: "†" %}
        {% assign marker = author | remove: clean | replace: "†", "<sup>†</sup>" %}
        {% assign display = author | replace: "†", "<sup>†</sup>" %}
        {% if clean == "Kyowoon Lee" %}
            <u><b style="color:black">{{ clean }}</b></u>{{ marker }},
        {% elsif site.data.author_links[clean] %}
            <a href="{{ site.data.author_links[clean] }}" target="_blank" style="color:DodgerBlue;font-weight:normal">{{ display }}</a>,
        {% else %}
            <span style="color:DodgerBlue;font-weight:normal">{{ display }}</span>,
        {% endif %}
        {% endfor %}

        {% assign last = paper.authors[-1] %}
        {% assign last_clean = last | remove: "*" | remove: "†" %}
        {% assign last_marker = last | remove: last_clean | replace: "†", "<sup>†</sup>" %}
        {% assign last_display = last | replace: "†", "<sup>†</sup>" %}
        {% if last_clean == "Kyowoon Lee" %}
            <u><b style="color:black">{{ last_clean }}</b></u>{{ last_marker }}
        {% elsif site.data.author_links[last_clean] %}
            <a href="{{ site.data.author_links[last_clean] }}" target="_blank" style="color:DodgerBlue;font-weight:normal">{{ last_display }}</a>
        {% else %}
            <span style="color:DodgerBlue;font-weight:normal">{{ last_display }}</span>
        {% endif %}
        </li>
        <li>{{ paper.venue }}</li>
        <li><i>{{ paper.comments }}</i></li>
        <li>
        <!-- color -->
        <!-- https://www.htmlcodes.ws/color/html-color-code-generator.cfm?colorName=DeepSkyBlue -->
        {%if paper.status%}
            <b style="color:black">{{ paper.status }}</b>
        {% endif %}
        {%if paper.video_url%}
            <a style="color:DodgerBlue" href="{{ paper.video_url }}"><b>[Video]</b></a>
        {% endif %}
        {%if paper.paper_url%}
            <a style="color:DodgerBlue" href="{{ paper.paper_url }}"><b>[Paper]</b></a>
        {% endif %}
        {%if paper.github_url%}
            <a style="color:DodgerBlue" href="{{ paper.github_url }}"><b>[Code]</b></a>
        {% endif %}
        {%if paper.project_url%}
            <a style="color:DodgerBlue" href="{{ paper.project_url }}"><b>[Project]</b></a>
        {% endif %}
        </li>
    </ul>
</div>